<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
  <div class="container">
    <img src="/img/logo/logo.png" alt="logo" class="img_logo">  
   <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/">
            <span class="material-icons me-1">INICIO</span>
           </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/productos">
            <span class="material-icons me-1">PRODUCTOS-ALL</span>
          </a>
        </li>
        </ul>
    </div>
  </div>
</nav>


