<%- include('partials/header') %>
<div class="seccion_portada d-flex justify-content-center align-items-center ">
    <div class="">
      <h1 class="display-2">BACKEND</h1>
      <h2 class="">NPM- NODE JS - MONGODB</h2>
      <h3 class="">GRUD(BUSCAR-AGREGAR-MODIFICAR-ELIMINAR)</h3>
      <h4 class="">UTILIZANDO THUNDER-CLIENTE</h4>
    </div>
   </div>